/ParkingSystem/obj/Debug/
/ParkingSystem/bin/
/.vs/ParkingSystem/FileContentIndex/
/.vs/ParkingSystem/v17/
/.vs/ParkingSystem/v17/
/.vs/ParkingSystem/DesignTimeBuild/.dtbcache.v2
/.vs/ParkingSystem/v17/.suo
